* {
    border: 1;
    border-radius: 0;
    font-family: Fira Mono, Arial;
    font-size: 12px;
    min-height: 0;
  }
  
  #waybar {
    background: #15171c;
    color: #dbdee9;
  }

  window#waybar {
    background: transparent;
}

window > box {
	margin: 4px;
    background: rgba(21, 23, 28, 0.96);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #dbdee9;
}

  #workspaces {
  }
  
  #workspaces button {
    padding: 0 5px;
  }

  #workspaces button.focused {
    padding: 0 5px;
  }

  #workspaces button.urgent {
    background: #e06c75;
  }

  #mode {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #e06c75;
  }

  #custom-spotify {
    border-top: 0px solid #98c379;
  }

  #custom-kubectx {
    border-top: 0px solid #61afef;
  }
  
  #pulseaudio {
    border-top: 0px solid #d19a66;
  }

  #pulseaudio.muted {
    color: #e06c75;
  }
  
  #network {
    border-top: 0px solid #be5046;
  }

  #network.disconnected {
    color: #be5046;
  }

  #backlight {
    border-top: 0px solid #e5c07b;
  }

  #battery {
    border-top: 0px solid #c678dd;
  }

  #battery.warning,
  #battery.warning:not(.charging) {
    color: #d19a66;
  }
  
  #battery.critical,
  #battery.critical:not(.charging) {
    color: #e06c75;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #custom-cet,
  #custom-eastern,
  #custom-pst {
    border-top: 0px solid #c8ccd4;
  }
  
  #waybar > box:nth-child(2) > box:nth-child(3) > * > label {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }













